<?xml version="1.0"?>
<config>
	<modules>
		<KS_Slideshow>
			<version>1.0.0</version>
		</KS_Slideshow>
	</modules>
	<frontend>
		<layout>
			<updates>
				<slideshow>
					<file>slideshow.xml</file>
				</slideshow>
			</updates>
		</layout>
	</frontend>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<slideshow after="Mage_Adminhtml">KS_Slideshow</slideshow>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<adminhtml>
		<menu>
			<athlete>
				<children>
					<slideshow translate="title" module="slideshow">
						<title>Slideshow</title>
						<sort_order>50</sort_order>
						<children>
							<items translate="title" module="slideshow">
								<title>Slides Manager</title>
								<sort_order>0</sort_order>
								<action>adminhtml/adminhtml_slideshow</action>
							</items>
							<configuration>
								<title>Configuration</title>
								<sort_order>1</sort_order>
								<action>adminhtml/system_config/edit/section/slideshow</action>
							</configuration>
						</children>
					</slideshow>
				</children>
			</athlete>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<slideshow>
											<title>Slideshow Configuration</title>
										</slideshow>
									</children>
								</config>
							</children>
						</system>
						<athlete>
							<children>
								<slideshow>
									<title>Slideshow</title>
									<children>
										<items>
											<title>Slideshow Slides</title>
										</items>
										<configuration>
											<title>Configuration</title>
										</configuration>
									</children>
								</slideshow>
							</children>
						</athlete>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
	<global>
		<models>
			<slideshow>
				<class>KS_Slideshow_Model</class>
				<resourceModel>slideshow_mysql4</resourceModel>
			</slideshow>
			<slideshow_mysql4>
				<class>KS_Slideshow_Model_Mysql4</class>
				<entities>
					<slides>
						<table>slideshow_slides</table>
					</slides>
					<slides_store>
						<table>slideshow_slides_store</table>
					</slides_store>
				</entities>
			</slideshow_mysql4>
		</models>
		<resources>
			<slideshow_setup>
				<setup>
					<module>KS_Slideshow</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</slideshow_setup>
			<slideshow_write>
				<connection>
					<use>core_write</use>
				</connection>
			</slideshow_write>
			<slideshow_read>
				<connection>
					<use>core_read</use>
				</connection>
			</slideshow_read>
		</resources>
		<blocks>
			<slideshow>
				<class>KS_Slideshow_Block</class>
			</slideshow>
		</blocks>
		<helpers>
			<slideshow>
				<class>KS_Slideshow_Helper</class>
			</slideshow>
		</helpers>
	</global>
	<default>
		<slideshow>
			<config>
				<enabled>1</enabled>
				<show>home</show>
			</config>
			<athlete>
				<allowWrap>true</allowWrap>
				<autoHeight>calc</autoHeight>
				<easing>easeInOutExpo</easing>
				<fx>scrollVert</fx>
				<speed>1200</speed>
				<sync>true</sync>
				<timeout>6000</timeout>
				<timeline>false</timeline>
        <pauseOnHover>false</pauseOnHover>
				<responsive_banners>0</responsive_banners>
			</athlete>
		</slideshow>
	</default>
</config>
